# Pastas de compilação
build/
bin/

# Objetos e binários
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll

# Arquivos do editor / sistema
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Dados gerados pelos programas
*.dat
